.card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.45);
  cursor: pointer;
}

.recipe-label {
  font-size: 3rem;
  font-weight: 700;
}

.form-inline .form-control {
  width:auto;
}
.form-inline .form-group {
  display: inline-block;
}

#status-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}